body {
  text-align: center;
  margin:0;
}
     
#parte01{
width:100%;
height: 25.0rem;
position:relative;
background-color:#52057b;
}

#direita{
width: 25.0rem;
height:10.0rem;
top: 5.0rem;
float: rigth;
}


#esquerda{
width: 25.0rem;
height:10.0rem;
top: 5.0rem;
float: left;
}

h1{
  color:white;
  font-family:bold;
  float:rigth;
}
#parte02{
width:100%;
height: 25.0rem;
position:relative;
background-color:#000000;
}

#parte03{
width:100%;
height: 25.0rem;
position:relative;
background-color:#892cdc;
}

#parte04{
width:100%;
height: 25.0rem;
position:relative;
background-color:#52057b;
position:relative;
top: 14.0rem;
}

