*{
    MARGIN:0;
    color:white;
    background-color:black;
    font-family: bold;
}
#home{
    width:100%;
    height:30.0rem;
    position:relative;
}
h1{
    float:left;
    font-weight: 900;
    margin-top:5.0rem;
    margin-left:15.0rem;
}

#subtitulo{
    font-weight: 900;
    margin-left:18.0rem;
}

#foto1{
    float:right;
    width: 10.0rem;
    height:10.0rem;
    margin-top:-5rem;
    border-radius:25px;
    margin-right:25.0rem;
}

img{
    width: 6.0rem;
    height:6.0rem;
    border-radius:25px;
}


#skill{
    width:100%;
    height:50rem;
    position:relative;
    text-align:center;
    display: inline-block;
    border-top:5px solid white;
}

.logos{
    display: inline-block;
    position:relative;
}

#HTML{
    margin-top:3.0rem;
    float:left;
    margin-left:3.0rem;
}

#CSS{
    float:left;
    margin-top:2.0rem;
    margin-left:4.0rem;
}

#Javascript{
    float:left;
    margin-top:1.0rem;
    margin-left:4.0rem;
}

#Python{
    float:left;
    margin-top:0;
    margin-left:4.0rem;
}

#React{
    float:left;
    margin-top:-1rem;
    margin-left:4.0rem;
}
